*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-wrapper{
display: flex;
justify-content: center;
margin: 20px 0;
flex-direction: column;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    column-gap: 10px;
}
#searchInput{
    width: 75%;
    padding: 5px;
    border-radius: 5px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#searchButton{
    width: 110px;
    border-radius: 5px;
    padding: 5px;
    background-color: #7a7f87;
    color: white;
    box-shadow: 1px 3px 5px lightgrey ;
    border: none;
    cursor: pointer;
}
#clearButton{
    width: 110px;
    border-radius: 5px;
    padding: 5px;
    background-color: #89050a;
    color: white;
    box-shadow: 1px 3px 5px lightgrey;
    border: none;
    cursor: pointer;
}
.imageList-wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}
.card{
    border: 1px solid grey;
    padding: 15px;
border-radius: 5px;
box-shadow: 5px 5px 8px grey;
}